div.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 0vh 100vh 0;
    grid-template-areas: 'header'
                         'menu' 
                         'mainContent'
                         'footer';
                         
}

div.header {
    background-color: rgba(17,21,22,255);
    grid-area: header;
    text-align: center;
    color:rgb(231, 226, 226);
    font-size: 350%;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 6px 7px 5px #34495e;
  }

p {
    font-size: 150%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 6px 7px 5px #34495e;
  }

div.menu.cf {
        background-color: rgb(95, 95, 95);
        margin: auto;
        text-align: center;
        grid-area: menu;
        font-size: 130%;
        font-family: arial;
        /* padding: 0px; */
        
        background: -webkit-linear-gradient(rgb(7, 6, 6), rgb(80, 73, 73));
      
  }

div.mainContent {
        /* margin-top: 20vh; */
        padding-top: 25vh;
        background-color: rgb(201, 195, 195);
        grid-area: mainContent;
        text-align-last:center;
        color: rgb(211, 28, 28);
        font-size: 130%;
        font-family: arial;
        background-image: url(BlackoutFigur1.png);
        background-repeat: no-repeat;
        background-size: cover;
         
  }

.footer {
        background-color: black;
    }

* {
        box-sizing: border-box;  
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 0;  
}

/* Style the images inside the grid */
.column img {
  opacity: 0.9; 
  cursor: pointer;  
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;  
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  background-color: black;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

 h2 {
   position:absolute;
   align-self: center;
   margin: 30vh 0 0 1vh;
   padding: top 35px;
   color: Green;
   border-style: double;
   font-size: 200%;
 }   

 .DW {
  background-color:#34495e;
  border: none;
  color: white;
  padding: 12px 34px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin: -75.5vh 0 0 10px;
}

/* Darker background on mouse-over */
.DW:hover {
  background-color: royalblue;
}

.DW .Download1:hover {
  background-color: royalblue;
}

.DW .Download1 {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 18.5px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin: -12px 0 0 0;
  text-decoration: none;
}

.DW2 {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 12px 34px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin: -723px 0 0 295px;
  text-decoration: none;
}

.DW2:hover {
  background-color: royalblue;
}

h1 {
  position:absolute;
   align-self: center;
   margin: 30.1vh 0 0 295px;
   padding: top 35px;
   color: Green;
   border-style: double;
   font-size: 200%;
}




  
    